@import "../../../../public/styles/breakpoints";

.li {
  text-decoration: none;
  padding: 20px 20px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  column-gap: 5px;

  @include if-device(desktop) {
    padding: 20px 15px;
    font-size: 16px;
  }

  &:hover &__subMenu {
    visibility: visible;
    opacity: 1;
    top: 61px;
  }
  &__subMenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 300px;
    height: auto;
    z-index: 10;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
