.button {
  background: #ff7800;
  text-transform: uppercase;
  color: #fff;
  height: 45px;
  width: 100%;
  border: 1px solid #ff7800;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 3px;
}
